# Python build artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Compilation and distribution
*.manifest
*.spec
installer/
build/*
!build/installer.iss
!build/Mica4U.spec

# IDE specific files
.idea/
.vscode/
.vs/

# Temporary files
*.log
*.ini
temp/
*.tmp

# Windows specific
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project specific
utils/